body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff; /* Heller Blauton für den Hintergrund */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 150px; /* Angepasste Größe des Icons */
    height: 150px;
    margin-bottom: 30px; /* Abstand zum Raster der Buttons */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, auto); /* Zwei Spalten mit automatischer Breite */
    gap: 20px; /* Abstand zwischen den Buttons */
    margin-bottom: 30px; /* Abstand zum Update-Button */
}

.button {
    background-color: #add8e6; /* Hellblaue Akzente */
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 100px; /* Feste Breite für Konsistenz */
    height: 50px; /* Feste Höhe für Konsistenz */
}

.button:hover {
    background-color: #87ceeb; /* Etwas dunklerer Blauton bei Hover */
}

#updateButton {
    display: none; /* Update-Button standardmäßig ausblenden */
}